@import url('https://fonts.googleapis.com/css?family=Merriweather:700,900,300');

@mixin fl_row {
  display: flex;
  flex-direction: row;
}

@mixin fl_col {
  display: flex;
  flex-direction: column;
}

$color_folder: #fbf19b;
$wheel_dark: #011627;
$wheel_bg_white: #FDFFFC;
$wheel_bg_info: #2EC4B6;
$wheel_bg_danger: #E71D36;
$wheel_bg_warn: #FF9F1C;

$grey_calm: #d1d1d1;
$color_text: #383434;

body {
  background-color: $wheel_bg_white;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  color: $color_text;
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: $wheel_bg_danger;
}

#app {
  padding: 1.5rem;
}

.wrapper, .footer .inner-foot {
  margin: 0 auto;
  overflow: hidden;
  max-width: 960px;
}

.wrapper {
  padding-bottom: 3rem;
}

.footer {
  background-color: $wheel_dark;
  margin: 0 -2.27rem -2.27rem;
  padding: 6rem 0;
  display: flex;
  align-items: center;
  .inner-foot {
    font-weight: bold;
    h5 {
      color: white;
      margin-bottom: 0;
    }
  }
}

.comment-section {
  overflow: hidden;
  margin-top: 3rem;
  background-color: white;
  border-radius: 6px;
  .fb-share-button {
    margin: 1rem;
  }
}

h1, h2, h3, h4, h5, h6, span, a, p, img, div, td, tr, th, iframe {
  &::selection {
    background-color: $wheel_bg_danger;
    color: $wheel_bg_white;
  }
}

.portofolio-wrp {
  text-align: center;
  margin: 2rem 0;
  h3 {
    margin-bottom: .5rem;
  }
  .ps-wrp {
    position: relative;
    @include fl_row;
    align-items: center;
    > a {
      cursor: auto;
      &:hover {
        box-shadow: 3px 3px $wheel_bg_danger;
      }
      &.sl-active {
        cursor: pointer;
        background-color: $wheel_bg_info;
      }
      &:first-child {
        margin-right: 1rem;
      }
      &:last-child {
        margin-left: 1rem;
      }
      background-color: $grey_calm;
      text-align: center;
      padding: 1rem 1.5rem;
      font-size: 2.1rem;
      width: 44px;
      display: flex;
      align-items: center;
      height: 44px;
    }
    > ul {
      width: 100%;
      margin-bottom: 0;
      list-style-type: none;
    }
    li {
      position: relative;
      transition: .3s;
      margin-bottom: 0;
      display: grid;
      .detail {
        background: rgba(253, 252, 255, .7);
        position: absolute;
        bottom: 0;
        padding: 1rem 1.5rem;
        text-align: left;
        h4 {
          margin-bottom: 0;
        }
        p {
          margin-bottom: 0;
          &.text-mute {
            margin-bottom: 1rem;
          }
        }
        > a {
          &:hover {
            box-shadow: 3px 3px $wheel_bg_danger;
          }
          border: none;
          background-color: $wheel_bg_info;
          display: grid;
          margin-top: 1rem;
        }
        p, h4 {
          color: $wheel_dark;
        }
      }
    }
  }
}

.logo-wrp {
  @include fl_col;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid $color_text;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  h6 {
    margin-bottom: .5rem;
    span {
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: .5rem;
      &:not(:last-child)::after {
        content: "|";
        margin: 0 1rem;
      }
    }
  }
  h1 {
    margin-bottom: 0;
    a {
      color: $color_text;
      &:hover {
        background-color: $wheel_bg_info;
        color: white;
      }
    }
  }
}

@media (min-width: 40rem) {
  .row .column {
    padding: 0 1.5rem;
  }
}

.row.is-block {
  display: block;
  overflow: auto;
  .column {
    float: left;
    &.by3 {
      width: 33.333333%;
    }
    &.by2 {
      width: 50%;
    }
    &.by1-3 {
      width: 66.666666%;
    }
    &.by3-4 {
      width: 75%;
    }
    &.by4 {
      width: 25%;
    }
  }
}

.a-item {
  position: relative;
  .ribbon {
    width: 0px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    top: -5px;
    right: 20px;
    border: solid 15px $wheel_bg_white;
    border-bottom: solid 15px transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
  }
  &:hover {
    .ribbon {
      height: 75px;
    }
  }
  height: 300px;
  .inner {
    position: relative;
  }
  overflow: hidden;
  h2 {
    &:hover {
      background-color: $wheel_bg_info;
      cursor: pointer;
      a {
        color: white;
      }
    }
    a {
      color: $color_text;
    }
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
  span {
    margin-bottom: 1.5rem;
    display: block;
    font-weight: 300;
  }
  p {
    text-align: justify;
    a {
      transition: .3s;
      &:hover {
        background-color: $wheel_bg_info;
      }
      font-weight: 900;
    }
  }
  &.is-sorotan {
    position: relative;
    background-color: $wheel_dark;
    h2, span, p {
      color: white;
    }
    .inner {
      padding: 1.5rem 1.5rem 0;
    }
  }
  .ov-lg {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background: linear-gradient(0deg, $wheel_bg_white, transparent);
  }
}

.tag-wrp {
  padding: 1.2rem 0;
  .is-tag {
    padding: 1rem 1.2rem;
    background-color: $wheel_dark;
    color: white;
  }
}

.common-image {
  text-align: center;
  img {
    max-height: 400px;
  }
  .caption-wrp {
    padding: .5rem 0;
    border-top: 1px solid $grey_calm;
    margin: .5rem 0;
    border-bottom: 1px solid $grey_calm;
    p {
      font-size: 1.2rem;
      margin: 0;
      font-style: italic;
      letter-spacing: .3rem;
    }
  }
}

.text-mute {
  font-size: 1.3rem;
}

.index-page {
  p.tag-wrp {
    margin-bottom: .5rem;
  }
}

.article-page {
  .nl-blocked {
    display: block;
    margin-bottom: 1rem;
  }
  .by1-3 .content {
    h2 {
      margin-bottom: .5rem;
    }
    h2 + p.text-mute {
      margin-bottom: 2rem;
    }
    padding: 2rem 1.5rem;
    background: white;
    border-radius: 6px;
    > p {
      text-align: justify;
      br {
        margin-bottom: .5rem;
      }
    }
  }
}

.gist-file {
  .blob-num {
    border-bottom: none;
  }
}

.about-me {
  height: auto;
  &.stuck {
    position: fixed;
    top: 15px;
  }
  &:hover {
    box-shadow: 7px 7px $wheel_bg_danger;
  }
  h2 {
    &:hover {
      background-color: transparent;
    }
    cursor: auto;
  }
  .common-image {
    margin: 1.5rem 0;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid $wheel_bg_white;
    }
  }
  p {
    font-size: 1.4rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .socials-wrp {
    padding: 1rem;
    background-color: $wheel_bg_white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    @include fl_col;
    align-items: center;
    box-shadow: 0px -5px 5px $grey_calm;
    p {
      color: $wheel_dark;
      font-weight: bold;
    }
    .socials {
      @include fl_row;
    }
    .social__item, .social__item > a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .social__item {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      overflow: hidden;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:first-child {
        background-color: #3a5998;
      }
      &:nth-child(2) {
        background-color: #8a4aa1;
      }
      &:nth-child(3) {
        background-color: #211f1f;
      }
      &:last-child {
        background-color: #4fce5d;
      }
      &:hover {
        box-shadow: 0px 5px $wheel_bg_info;
        color: white;
      }
      a {
        color: white;
        font-size: 2rem;
        width: 100%;
        height: 100%;
        i {
          font-size: .75em;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #app {
    padding: 1rem;
  }
  .index-page, .article-page {
    .row .column {
      width: 100% !important;
    }
  }
  .article-page {
    .about-me {
      margin-top: 3rem;
    }
  }
  .a-item {
    height: auto;
    &:not(:last-child) {
      margin-bottom: 1rem;
      border-bottom: 1px solid $wheel_bg_danger;
    }
  }
  .footer {
    margin: 0 -2rem -2rem -2rem;
  }
}
